<% diff.each do |difference| %>
  <% if difference[0] == '+' %>
    <div class="alert alert-success" role="change">
      <strong><%= difference[1] %></strong> <code><%= h difference[2] %></code>
    </div>
  <% elsif difference[0] == '-' %>
    <div class="alert alert-danger" role="change">
      <strong><%= difference[1] %></strong>
    </div>
  <% elsif difference[0] == '~' %>
    <div class="alert alert-info" role="change">
      <strong><%= difference[1] %></strong> <code><%= h difference[2] %></code> ➡ <code><%= h difference[3] %></code>
    </div>
  <% end %>
<% end %>
