<style>
  <%= Diffy::CSS %>
</style>

<% diff.differences.each do |difference| %>
  <% if difference[0] == '+' %>
    <div class="alert alert-success" role="change">
      <strong><%= difference[1] %></strong>
      <br /><br />
      <code><%= h difference[2] %></code>
    </div>
  <% elsif difference[0] == '-' %>
    <div class="alert alert-danger" role="change">
      <strong><%= difference[1] %></strong>
      <br /><br />
      <code><%= h difference[2] %></code>
    </div>
  <% elsif difference[0] == '~' %>
    <div class="alert alert-warning" role="change">
      <strong><%= difference[1] %></strong>
      <br /><br />
      <div class="row">
        <div class="col-6">
          <%= difference[4] %>
        </div>

        <div class="col-6">
          <%= difference[5] %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
