<div class="row align-items-center my-4">
  <div class="col-1">
    <strong>Document</strong>
  </div>

  <div class="col-3">
    <%= params[:document_type].gsub("_", " ").split.map(&:capitalize).join(" ") %>
  </div>

  <div class="col-1">
    <strong>Change</strong>
  </div>

  <div class="col-7">
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownDocumentTypes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Document Types
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownDocumentTypes">
        <% all_document_types.each do |document_type| %>
          <a class="dropdown-item" href="/<%= document_type %>"><%= document_type.gsub("_", " ").split.map(&:capitalize).join(" ") %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row align-items-center my-4">
  <div class="col-1">
    <strong>Example</strong>
  </div>

  <div class="col-11">
    <ul class="nav nav-pills nav-fill">
      <% all_content_ids.each_with_index do |content_id, index| %>
        <li class="nav-item">
          <a class="nav-link <%= content_id == params[:content_id] ? 'active' : '' %>" href="/<%= params[:document_type] %>/<%= content_id %>/0/0/<%= params[:view] %>">#<%= index + 1 %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row align-items-center my-4">
  <div class="col-1">
    <strong>Compare</strong>
  </div>

  <div class="col-5">
    <ul class="nav nav-pills nav-fill">
      <% versions.times do |version| %>
        <li class="nav-item">
          <a class="nav-link <%= version == params[:version_a].to_i ? 'active' : '' %>" href="/<%= params[:document_type] %>/<%= params[:content_id] %>/<%= version %>/<%= params[:version_b] %>/<%= params[:view] %>"><%= version %></a>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-1">
    <strong>with</strong>
  </div>

  <div class="col-5">
    <ul class="nav nav-pills nav-fill">
      <% versions.times do |version| %>
        <li class="nav-item">
          <a class="nav-link <%= version == params[:version_b].to_i ? 'active' : '' %>" href="/<%= params[:document_type] %>/<%= params[:content_id] %>/<%= params[:version_a] %>/<%= version %>/<%= params[:view] %>"><%= version %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row align-items-center my-4">
  <div class="col-2">
    <strong>Technical View</strong>
  </div>

  <div class="col-10">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link <%= params[:view] == 'technicalhashdiff' ? 'active' : '' %>" href="/<%= params[:document_type] %>/<%= params[:content_id] %>/<%= params[:version_a] %>/<%= params[:version_b] %>/technicalhashdiff">Hash Diff</a>
      </li>

      <li class="nav-item">
        <a class="nav-link <%= params[:view] == 'technicalinline' ? 'active' : '' %>" href="/<%= params[:document_type] %>/<%= params[:content_id] %>/<%= params[:version_a] %>/<%= params[:version_b] %>/technicalinline">Inline</a>
      </li>

      <li class="nav-item">
        <a class="nav-link <%= params[:view] == 'technicalsidebyside' ? 'active' : '' %>" href="/<%= params[:document_type] %>/<%= params[:content_id] %>/<%= params[:version_a] %>/<%= params[:version_b] %>/technicalsidebyside">Side by Side</a>
      </li>

      <li class="nav-item">
        <a class="nav-link <%= params[:view] == 'technicalcombinationinline' ? 'active' : '' %>" href="/<%= params[:document_type] %>/<%= params[:content_id] %>/<%= params[:version_a] %>/<%= params[:version_b] %>/technicalcombinationinline">Combination (Inline)</a>
      </li>

      <li class="nav-item">
        <a class="nav-link <%= params[:view] == 'technicalcombinationsidebyside' ? 'active' : '' %>" href="/<%= params[:document_type] %>/<%= params[:content_id] %>/<%= params[:version_a] %>/<%= params[:version_b] %>/technicalcombinationsidebyside">Combination (Side by Side)</a>
      </li>
    </ul>
  </div>
</div>

<div class="row align-items-center my-4">
  <div class="col-2">
    <strong>Non-technical View</strong>
  </div>

  <div class="col-10">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link <%= params[:view] == 'nontechnicalinline' ? 'active' : '' %>" href="/<%= params[:document_type] %>/<%= params[:content_id] %>/<%= params[:version_a] %>/<%= params[:version_b] %>/nontechnicalinline">Inline</a>
      </li>

      <li class="nav-item">
        <a class="nav-link <%= params[:view] == 'nontechnicalsidebyside' ? 'active' : '' %>" href="/<%= params[:document_type] %>/<%= params[:content_id] %>/<%= params[:version_a] %>/<%= params[:version_b] %>/nontechnicalsidebyside">Side by Side</a>
      </li>
    </ul>
  </div>
</div>

<hr />

<h5><a href="https://www.gov.uk<%= content_b['base_path'] %>"><%= content_b['title'] %></a></h5>

<hr />

<%= yield %>
