<div class="row align-items-center my-4">
  <div class="col-1 text-right">
    <strong>Document</strong>
  </div>

  <div class="col-3">
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownDocumentTypes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= params[:document_type].gsub("_", " ").split.map(&:capitalize).join(" ") %>
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownDocumentTypes">
        <% all_document_types.each do |document_type| %>
          <a class="dropdown-item" href="/<%= document_type %>"><%= document_type.gsub("_", " ").split.map(&:capitalize).join(" ") %></a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-1 text-right">
    <strong>Example</strong>
  </div>

  <div class="col-2">
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownContentIds" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Example #<%= all_content_ids.index(params[:content_id]) + 1 %>
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownContentIds">
        <% all_content_ids.each_with_index do |content_id, index| %>
          <a class="dropdown-item" href="/<%= params[:document_type] %>/<%= content_id %>/0/0/<%= params[:view] %>">Example #<%= index + 1 %></a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-1 text-right">
    <strong>View</strong>
  </div>

  <div class="col-4">
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownViews" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= view_names[params[:view].to_sym] %> — <%= params[:view].start_with?("technical") ? "Technical" : "Non-technical" %>
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownViews">
        <h6 class="dropdown-header">Technical</h6>
        <a class="dropdown-item" href="/<%= params[:document_type] %>/<%= params[:content_id] %>/<%= params[:version_a] %>/<%= params[:version_b] %>/technicalhashdiff">Hash Diff</a>
        <a class="dropdown-item" href="/<%= params[:document_type] %>/<%= params[:content_id] %>/<%= params[:version_a] %>/<%= params[:version_b] %>/technicalinline">Inline</a>
        <a class="dropdown-item" href="/<%= params[:document_type] %>/<%= params[:content_id] %>/<%= params[:version_a] %>/<%= params[:version_b] %>/technicalsidebyside">Side by Side</a>
        <a class="dropdown-item" href="/<%= params[:document_type] %>/<%= params[:content_id] %>/<%= params[:version_a] %>/<%= params[:version_b] %>/technicalcombinationinline">Combination (Inline)</a>
        <a class="dropdown-item" href="/<%= params[:document_type] %>/<%= params[:content_id] %>/<%= params[:version_a] %>/<%= params[:version_b] %>/technicalcombinationsidebyside">Combination (Side by Side)</a>

        <div class="dropdown-divider"></div>

        <h6 class="dropdown-header">Non-technical</h6>
        <a class="dropdown-item" href="/<%= params[:document_type] %>/<%= params[:content_id] %>/<%= params[:version_a] %>/<%= params[:version_b] %>/nontechnicalinline">Inline</a>
        <a class="dropdown-item" href="/<%= params[:document_type] %>/<%= params[:content_id] %>/<%= params[:version_a] %>/<%= params[:version_b] %>/nontechnicalsidebyside">Side by Side</a>
        <a class="dropdown-item" href="/<%= params[:document_type] %>/<%= params[:content_id] %>/<%= params[:version_a] %>/<%= params[:version_b] %>/nontechnicallayers">Layers</a>
      </div>
    </div>
  </div>
</div>

<div class="row align-items-center my-4">
  <div class="col-1">
    <strong>Compare</strong>
  </div>

  <div class="col-5">
    <ul class="nav nav-pills nav-fill">
      <% versions.times do |version| %>
        <li class="nav-item">
          <a class="nav-link <%= version == params[:version_a].to_i ? 'active' : '' %>" href="/<%= params[:document_type] %>/<%= params[:content_id] %>/<%= version %>/<%= params[:version_b] %>/<%= params[:view] %>"><%= version %></a>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-1 text-center">
    <strong>with</strong>
  </div>

  <div class="col-5">
    <ul class="nav nav-pills nav-fill">
      <% versions.times do |version| %>
        <li class="nav-item">
          <a class="nav-link <%= version == params[:version_b].to_i ? 'active' : '' %>" href="/<%= params[:document_type] %>/<%= params[:content_id] %>/<%= params[:version_a] %>/<%= version %>/<%= params[:view] %>"><%= version %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<hr />

<h5><a href="https://www.gov.uk<%= content_b['base_path'] %>"><%= content_b['title'] %></a> &nbsp; — &nbsp; <%= Time.iso8601(content_a['public_updated_at']).strftime("%b %d %Y %H:%M:%S") %> &nbsp; ➡ &nbsp; <%= Time.iso8601(content_b['public_updated_at']).strftime("%b %d %Y %H:%M:%S") %></h5>

<hr />

<%= yield %>
