<ul class="nav nav-tabs">
  <% all_content_ids.each_with_index do |content_id, index| %>
    <li class="nav-item">
      <a class="nav-link <%= content_id == params[:content_id] ? 'active' : '' %>" href="/<%= content_id %>/0/0">Doc #<%= index + 1 %></a>
    </li>
  <% end %>
</ul>

<div class="row align-items-center">
  <div class="col-1">
    <strong>Compare</strong>
  </div>

  <div class="col-5">
    <ul class="nav nav-pills nav-fill">
      <% versions.times do |version| %>
        <li class="nav-item">
          <a class="nav-link <%= version == params[:version_a].to_i ? 'active' : '' %>" href="/<%= params[:content_id] %>/<%= version %>/<%= params[:version_b] %>"><%= version %></a>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-1">
    <strong>with</strong>
  </div>

  <div class="col-5">
    <ul class="nav nav-pills nav-fill">
      <% versions.times do |version| %>
        <li class="nav-item">
          <a class="nav-link <%= version == params[:version_b].to_i ? 'active' : '' %>" href="/<%= params[:content_id] %>/<%= params[:version_a] %>/<%= version %>"><%= version %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

